// Rivanna configuration for Nextflow pipelines
// Adjust parameters as needed for your specific workflow and allocation
executor {
    name = 'slurm'
    queueSize = 100                // how many simultaneous jobs to push
    submitRateLimit = '10 sec'
    exitReadTimeout = '5 min'
    pollInterval = '1 min'
    queueStatInterval = '5 min'
    maxSubmitRetries = 5
    // (you may also include queueStatInterval etc.)
}

process {
    // default resource allocations (you can override per process)
//   withName: someProcessName {
//     cpus = 4
//     memory = '16 GB'
//     time = '12h'
//   }
    withLabel: process_single {
        cpus = 2
    }

    withName: 'TSS_EXTRACT' {
        time = '30m'
    }

    // fallback defaults
    cpus = 2
    memory = '40 GB'
    time = '4h'

    clusterOptions = { task ->
    // construct SBATCH directives dynamically if needed
    // e.g. '-A myallocation -p standard'
    // return "-A ${params.account} -p ${params.partition}"
    return "-p ${params.partition}"
    }
}

// module / environment setup
// modules = [ 'nextflow', 'java', 'apptainer' ]
modules = [ 'apptainer' ]

// container / singularity settings
singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/project/dremel_lab/workflows/singularity_images'  // in a shared storage accessible by compute nodes
}

params {
    partition = 'standard'      // default partition on Rivanna
    account = 'dremel_lab'     // your allocation / account name
    workDir = './work'
    outdir = './results'

    // custom params for your workflow
    aligner = 'bowtie2'
    max_memory = '256.GB'
    max_cpus = 32
    max_time = '96.h'
    publish_dir_mode = 'link'
}

nextflow {
  cleanup = false
  timeline.enabled = true
}

env {
  MPLCONFIGDIR = "/scratch/$USER/matplotlib_cache"             // Matplotlib config & font cache
  TMPDIR = "/scratch/$USER/tmp"                                // temp file location for all tools
  XDG_CACHE_HOME = "/scratch/$USER/cache"                      // base cache for Python & XDG-aware apps

  APPTAINER_CACHEDIR = "/scratch/$USER/apptainer_cache"        // local unpack/cache area for Apptainer runtime
  NXF_SINGULARITY_CACHEDIR = "/project/dremel_lab/workflows/singularity_images" // shared, pre-pulled container images for Nextflow
  NXF_TASK_WORKDIR = "/scratch/$USER/nxf_work"                 // node-local working dir for task execution
}

manifest {
    name            = 'chroma'
    author          = """Seqinfomics"""
    homePage        = 'https://github.com/dremellab/chroma'
    description     = """ATACSeq peak-calling and differential analysis pipeline based of nf-core/atacseq"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '0.0.1-dev'
}
